@tailwind base;
@tailwind components;
@tailwind utilities;
.Background {
      background-image: url(./src/Background.jpg");
    background-size: "cover";
    height: 100%;
    background-repeat: no-repeat;
}
